<div class="card" style="padding-top: 24px">
    <div class="flex justify-between items-center flex-column sm:flex-row mb-6">
        <div class="font-semibold text-xl">Roles</div>
    </div>

    <p-table
        #userTable
        [value]="rolesList"
        class="auto-width-table"
        dataKey="id"
        [rows]="10"
        [paginator]="rolesList.length > 10 ? true : false"
        [rowHover]="true"
        [loading]="loading"
        [showGridlines]="true"
        responsiveLayout="scroll"
        scrollHeight="410px"
        tableStyleClass="nowrap-cell"
    >
        <ng-template #header>
            <tr>
                <th style="width: 4rem; padding-top: 0; padding-bottom: 0; text-align: center" class="font-bold">Sr.No.</th>
                <th style="min-width: 12rem; padding-top: 0; padding-bottom: 0">
                    <div class="flex justify-between items-center font-bold">
                        Role Name
                        <p-columnFilter type="text" field="name" display="menu" placeholder="Search Name" />
                    </div>
                </th>
                <th style="min-width: 12rem; padding-top: 0; padding-bottom: 0;">
                    <div class="flex justify-between items-center font-bold">
                        Role Code
                    </div>
                </th>
                <th style="min-width: 16rem; padding-top: 0; padding-bottom: 0">
                    <div class="flex justify-between items-center font-bold">
                        Description
                    </div>
                </th>
                <th style="min-width: 8rem; padding-top: 0; padding-bottom: 0" class="text-center">
                    <div class="flex justify-between items-center font-bold">
                        Active?
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template #body let-user let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: center">{{ rowIndex + 1 }}</td>

                <td class="ellipsis-cell">{{ user.name }}</td>
                <td class="ellipsis-cell">{{ user.code }}</td>
                <td class="ellipsis-cell">{{ user.description }}</td>
                <td class="ellipsis-cell">{{ user.isActive }}</td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="7" class="text-center">No users found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
