<div class="card" style="padding-top: 24px">
    <div class="flex justify-between items-center flex-column sm:flex-row mb-6">
        <div class="font-semibold text-xl">Roles</div>
        <div class="flex flex-wrap gap-2" *ngIf="isAdmin">
            <p-button label="Add Role" icon="pi pi-plus" (onClick)="createRole()" outlined />
        </div>
    </div>

    <p-table
        #userTable
        [value]="rolesList"
        class="auto-width-table"
        dataKey="id"
        [rows]="10"
        [paginator]="rolesList.length > 10 ? true : false"
        [rowHover]="true"
        [loading]="loading"
        [showGridlines]="true"
        responsiveLayout="scroll"
        scrollHeight="410px"
        tableStyleClass="nowrap-cell"
    >
        <ng-template #header>
            <tr>
                <th style="width: 4rem; padding-top: 0; padding-bottom: 0; text-align: center" class="font-bold">Sr.No.</th>
                <th style="min-width: 12rem; padding-top: 0; padding-bottom: 0">
                    <div class="flex justify-between items-center font-bold">
                        Role Name
                        <p-columnFilter type="text" field="name" display="menu" placeholder="Search Name" />
                    </div>
                </th>
                <th style="min-width: 12rem; padding-top: 0; padding-bottom: 0">
                    <div class="flex justify-between items-center font-bold">Role Code</div>
                </th>
                <th style="min-width: 16rem; padding-top: 0; padding-bottom: 0">
                    <div class="flex justify-between items-center font-bold">Description</div>
                </th>
                <th style="min-width: 8rem; padding-top: 0; padding-bottom: 0" class="text-center">
                    <div class="flex justify-between items-center font-bold">Active?</div>
                </th>
            </tr>
        </ng-template>

        <ng-template #body let-role let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: center">{{ rowIndex + 1 }}</td>
                <td class="ellipsis-cell">{{ role.name }}</td>
                <td class="ellipsis-cell">{{ role.code }}</td>
                <td class="ellipsis-cell">{{ role.description }}</td>
                <td class="ellipsis-cell">{{ role.isActive }}</td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="7" class="text-center">No users found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Create User role -->
<p-dialog header="Add New Role" [(visible)]="showRoleDialog" [modal]="true" [style]="{ width: '30rem' }" [closable]="false" [draggable]="false">
    <p-fluid [formGroup]="roleForm">
        <div class="flex">
            <div class="flex flex-col gap-6 w-full">
                <!-- Role Name and Code -->
                <div class="flex flex-col md:flex-row gap-6">
                    <!-- Role Name -->
                    <div class="flex flex-col gap-2 w-full">
                        <label>Role Name</label>
                        <p-iconfield iconPosition="left">
                            <p-inputicon styleClass="pi pi-tag" />
                            <input pInputText (blur)="onChangeRole($event)" formControlName="name" placeholder="Enter Role" />
                        </p-iconfield>
                        <small *ngIf="roleForm.controls['name']?.errors?.['required']" class="p-error">Role Name is required.</small>
                    </div>

                    <!-- Role Code -->
                    <!-- <div class="flex flex-col gap-2 w-full">
                        <label>Role Code</label>
                        <p-iconfield iconPosition="left">
                            <p-inputicon styleClass="pi pi-code" />
                            <input pInputText formControlName="code" placeholder="Enter Role Code" />
                        </p-iconfield>
                        <small *ngIf="roleForm.controls['code']?.errors?.['required']" class="p-error">Role Code is required.</small>
                    </div> -->
                </div>

                <!-- Description -->
                <div class="flex flex-col gap-2 w-full">
                    <label>Description</label>
                    <textarea pInputTextarea formControlName="description" rows="3" placeholder="Enter Description"></textarea>
                </div>

                <!-- Active Status -->
                <div class="flex flex-col gap-2 w-full">
                    <label>Active?</label>
                    <p-dropdown
                        [options]="[
                            { label: 'Yes', value: true },
                            { label: 'No', value: false }
                        ]"
                        placeholder="Select"
                        formControlName="isActive"
                    ></p-dropdown>
                </div>

                <!-- Buttons -->
                <div class="flex flex-wrap gap-2 justify-center">
                    <p-button label="Cancel" icon="pi pi-times" (onClick)="cancel()" severity="secondary" type="button" />
                    <p-button label="Save" icon="pi pi-check" (onClick)="saveRole()" severity="success" type="button" [disabled]="roleForm.invalid" />
                </div>
            </div>
        </div>
    </p-fluid>
</p-dialog>
<p-toast position="top-right"></p-toast>