<div class="login-container">
    <div class="main">
        <div class="left-pane">
            <img src="icons/LoginPhone.svg" alt="Illustration" />
        </div>
        <div class="right-pane">
            <div class="login-card">
                <div class="logo-wrapper">
                    <img src="icons/FixPoint.png" alt="Emblem" class="emblem" />
                    <p style="line-height: 2"><span class="Fix">Fix</span> <span class="Point">Point</span></p>
                </div>
                <h2 class="text-2xl font-bold mb-2">Welcome Back!</h2>
                <p class="text-sm text-gray-600 mb-10">Sign in to access your dashboard and continue optimizing Issue.</p>
                <div *ngIf="loginTemplate == 'Login'">
                    
                    <div *ngIf="loading" class="custom-loading-container">
                        <div class="spinner"></div>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid">
                        <div class="flex flex-col gap-2">
                            <label for="email">Email</label>
                            <p-iconfield iconPosition="left">
                                <p-inputicon styleClass="pi pi-envelope email-icon" />
                                <input
                                    [readOnly]="loading"
                                    [pAutoFocus]="true"
                                    pInputText
                                    id="email"
                                    formControlName="email"
                                    type="email"
                                    placeholder="Enter your email"
                                    class="full-width-input"
                                    [ngClass]="{ 'p-invalid': email?.invalid && (email?.dirty || email?.touched) }"
                                />
                            </p-iconfield>

                            <small *ngIf="email?.errors?.['required'] && (email?.touched || email?.dirty)" class="p-error"> Email is required. </small>
                            <small *ngIf="email?.errors?.['email'] && (email?.touched || email?.dirty)" class="p-error"> Please enter a valid email. </small>
                            <small *ngIf="isExistEmail" class="p-error">Email Id not found!</small>
                        </div>

                        <div class="flex flex-row items-center gap-x-6 mt-3" style="margin-top: 30px;">
                            <div class="flex items-center">
                                <p-radiobutton name="loginMethod" inputId="viaTpin" value="tpin" formControlName="loginMethod" (onClick)="onChecked($event, 'tpin')"> </p-radiobutton>
                                <label for="viaTpin" class="ml-2">Login by T-Pin</label>
                            </div>

                            <div class="flex items-center">
                                <p-radiobutton name="loginMethod" inputId="viaOtp" value="otp" formControlName="loginMethod" (onClick)="onChecked($event, 'otp')"> </p-radiobutton>
                                <label for="viaOtp" class="ml-2">Login by OTP</label>
                            </div>
                        </div>

                        <div class="flex flex-col gap-4 mt-10">
                            <div class="flex flex-wrap gap-2 justify-center">
                                <p-button [disabled]="loading" styleClass="w-full" type="submit" [label]="buttonName"></p-button>
                            </div>
                        </div>
                    </form>
                    <p style="margin-top: 30px;">Don't have an account? <span id="span" style="cursor: pointer" (click)="getSignUp()">Sign Up</span></p>
                </div>
                <div *ngIf="loginTemplate == 'signUp'">
                    <div class="mx-auto" style="max-width: 500px; padding:0px;">
                        <h2 class="text-left mb-4">Sign Up</h2>
                        <div *ngIf="loading" class="custom-loading-container">
                            <div class="spinner"></div>
                        </div>
                        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                            <div class="field mb-3">
                                <div class="flex flex-col gap-2 w-full">
                                    <label>User Name</label>
                                    <p-iconfield iconPosition="left">
                                        <p-inputicon styleClass="pi pi-user" />
                                        <input pInputText formControlName="username" placeholder="Enter Name" [ngClass]="{ 'p-invalid': username?.invalid && (username?.dirty || username?.touched) }" />
                                    </p-iconfield>
                                    <small *ngIf="username?.errors?.['required']" class="p-error">User name is required.</small>
                                </div>
                            </div>

                            <div class="field mb-3">
                                <div class="flex flex-col gap-2 w-full">
                                    <label>Email</label>
                                    <p-iconfield iconPosition="left">
                                        <p-inputicon styleClass="pi pi-envelope" />
                                        <input pInputText formControlName="email" placeholder="abc@xyz.com" [ngClass]="{ 'p-invalid': email?.invalid && (email?.dirty || email?.touched) }" />
                                    </p-iconfield>
                                    <small *ngIf="email?.errors?.['required']" class="p-error">Email is required.</small>
                                    <small *ngIf="email?.errors?.['email']" class="p-error">Invalid email format.</small>
                                </div>
                            </div>

                            <div class="field mb-4">
                                <label for="tPin">T-PIN</label>
                                <input id="tPin" type="number" pInputText formControlName="tPin" placeholder="e.g. 123456" maxlength="6" class="w-full" />
                                <small *ngIf="tPin?.errors?.['tPin']" class="p-error">T-Pin is required.</small>
                            </div>

                            <button pButton type="submit" label="Register" class="w-full p-button-primary" [disabled]="signupForm.invalid"></button>
                        </form>
                    </div>
                </div>
                <div *ngIf="loginTemplate == 'Otp'">
                    <div class="flex gap-2 justify-center" style="margin-bottom: 20px">
                        <p-message severity="info" [style]="{ 'margin-bottom': '20px' }">A verification code has been sent to your email. Please enter the OTP to continue.</p-message>
                    </div>
                    <div *ngIf="loading" class="custom-loading-container">
                        <div class="spinner"></div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="flex gap-2 justify-center">
                            <p-inputotp [readonly]="loading" [(ngModel)]="otpInput" [integerOnly]="true" [length]="6" [mask]="true" />
                        </div>
                        <div class="flex justify-center">
                            <p style="margin-top: 20px">{{ timerDisplay }}</p>
                        </div>
                        <div class="flex flex-col gap-4">
                            <div class="flex flex-wrap gap-2 justify-center">
                                <p-button *ngIf="!resendAvailable" [disabled]="!(otpInput.length == 6)" styleClass="w-full" (onClick)="verifyCode()" label="Verify Code" />
                                <p-button *ngIf="resendAvailable" styleClass="w-full" (onClick)="resendCode()" label="Resend Code" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="loginTemplate == 't-pin'">
                    <div class="flex gap-2 justify-center" style="margin-bottom: 20px">
                        <p-message severity="info" [style]="{ 'margin-bottom': '20px' }">Please enter the t-Pin to continue.</p-message>
                    </div>

                    <div class="flex flex-col gap-2">
                        <div class="flex gap-2 justify-center">
                            <p-inputotp [readonly]="loading" [(ngModel)]="otpInput" [integerOnly]="true" [length]="6" [mask]="true" />
                        </div>

                        <div class="flex flex-col gap-10" style="margin-top: 20px;">
                            <div class="flex flex-wrap gap-2 justify-center">
                                <p-button [disabled]="!(otpInput.length == 6)" styleClass="w-full" (onClick)="verifyCode()" label="Verify Code" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast position="top-right"></p-toast>
