<div class="login-container">
    <div class="left-pane">
        <img src="icons/LoginPhone.svg" alt="Illustration" />
    </div>

    <div class="right-pane">
        <div class="login-card">
            <div class="logo-wrapper">
                <img src="icons/FixPoint.png" alt="Emblem" class="emblem" />
                <p style="line-height: 2"><span class="Fix">Fix</span> <span class="Point">Point</span></p>
            </div>

            <p *ngIf="loginTemplate == 'Login'" class="account">Login into your account</p>
            <div *ngIf="loading" class="custom-loading-container">
                <div class="spinner"></div>
            </div>
            <form *ngIf="loginTemplate == 'Login'" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid">
                <div class="flex flex-col gap-2">
                    <label for="email">Email</label>

                    <p-iconfield iconPosition="left">
                        <p-inputicon styleClass="pi pi-envelope email-icon" />
                        <input [readOnly]="loading" pInputText id="email" formControlName="email" type="email" placeholder="Enter your email" class="full-width-input" [ngClass]="{ 'p-invalid': email?.invalid && (email?.dirty || email?.touched) }" />
                    </p-iconfield>

                    <small *ngIf="email?.errors?.['required'] && (email?.touched || email?.dirty)" class="p-error"> Email is required. </small>
                    <small *ngIf="email?.errors?.['email'] && (email?.touched || email?.dirty)" class="p-error"> Please enter a valid email. </small>
                    <small *ngIf="isExistEmail" class="p-error"> Email Id not found!</small>
                </div>
                <div class="card flex flex-col gap-4">
                    <div class="flex flex-wrap gap-2 justify-center">
                        <p-button [disabled]="loading" styleClass="w-full" type="submit" label="Send Verification Code" />
                    </div>
                </div>
            </form>
            <div *ngIf="loginTemplate == 'Otp'">
                <div class="flex gap-2 justify-center" style="margin-bottom: 20px">
                    <p-message severity="info" [style]="{ 'margin-bottom': '20px' }">A verification code has been sent to your email. Please enter the OTP to continue.</p-message>
                </div>
                <div *ngIf="loading" class="custom-loading-container">
                    <div class="spinner"></div>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 justify-center">
                        <p-inputotp [readonly]="loading" [(ngModel)]="otpInput" [integerOnly]="true" [length]="6" />
                    </div>
                    <div class="flex justify-center">
                        <p style="margin-top: 20px">{{ timerDisplay }}</p>
                    </div>
                    <div class="card flex flex-col gap-4">
                        <div class="flex flex-wrap gap-2 justify-center">
                            <p-button *ngIf="!resendAvailable" [disabled]="!(otpInput.length == 6)" styleClass="w-full" (onClick)="verifyCode()" label="Verify Code" />
                            <p-button *ngIf="resendAvailable" styleClass="w-full" (onClick)="resendCode()" label="Resend Code" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast position="top-right"></p-toast>
