@use './code.scss';
@use './flags/flags';
@use '../css/bootstrap.min.css';
@use '../css/extra.css';
// @use '../css/flaticon.css';
@use '../css/main.css';
@use '../css/owl-Carousel.min.css';
@use '../css/owl.theme.default.min.css';
@use '../css/responsive.css';
