<div class="card" style="padding-top: 24px;">
    <div class="flex justify-between items-center flex-column sm:flex-row mb-6">
        <div class="font-semibold text-xl">Report Bug</div>

        <div class="flex flex-wrap gap-2">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" (input)="onGlobalFilter(dt, $event)" pInputText placeholder="Search" />
            </p-iconfield>
            

            <p-button label="Add" icon="pi pi-plus" (onClick)="createBug()" />
            <p-button icon="pi pi-filter-slash"  (click)="clear(dt)" label="Clear" severity="warn" />
        </div>
    </div>

    <p-table
        #dt
        [value]="reportList"
        class="auto-width-table"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        [showGridlines]="true"
        [paginator]="(reportList.length>10)? true : false"
        [globalFilterFields]="['issueId']"
        responsiveLayout="scroll"
        scrollHeight="410px"
        tableStyleClass="nowrap-cell"
    >
        <ng-template #header>
            <tr>
                <th style="width: 4rem; padding-bottom: 0px; padding-top: 0px; text-align: center;">
                Sr.No.
                </th>
                <th style="min-width: 12rem; padding-bottom: 0px;padding-top: 0px;" pFrozenColumn>
                    <div class="flex justify-between items-center">
                        Issue Id
                        <p-columnFilter type="text" field="issueId" display="menu" placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem; padding-bottom: 0px;padding-top: 0px;">
                    <div class="flex justify-between items-center">
                        Project Code
                        <p-columnFilter type="text" field="projectCode" display="menu" placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem; padding-bottom: 0px;padding-top: 0px;">
                    <div class="flex justify-between items-center">
                        Title
                        <p-columnFilter type="text" field="title" display="menu" placeholder="Search by country"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem; padding-bottom: 0px;padding-top: 0px;">
                    <div class="flex justify-between items-center">
                        Description
                        <p-columnFilter type="text" field="description" display="menu" placeholder="Search by date"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        requester
                        <p-columnFilter type="text" field="requester" display="menu" placeholder="Search by company"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem; padding-bottom: 0px;padding-top: 0px;">
                    <div class="flex justify-between items-center">
                        Assign To
                        <p-columnFilter type="text" field="assignTo" display="menu" placeholder="Search by status"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem; padding-bottom: 0px;padding-top: 0px;">
                    <div class="flex justify-between items-center">
                        Start Date
                        <p-columnFilter type="text" field="startDate" display="menu" placeholder="Search by activity"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem; padding-bottom: 0px;padding-top: 0px;">
                    <div class="flex justify-between items-center">
                        End Date
                        <p-columnFilter type="text" field="endDate" display="menu" placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                 <th style="min-width: 12rem; padding-bottom: 0px;padding-top: 0px;">
                    <div class="flex justify-between items-center">
                        Type
                        <p-columnFilter type="text" field="type" display="menu" placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                 <th style="min-width: 12rem; padding-bottom: 0px;padding-top: 0px;">
                    <div class="flex justify-between items-center">
                        Status
                        <p-columnFilter type="text" field="status" display="menu" placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                 <th style="min-width: 12rem; padding-bottom: 0px;padding-top: 0px;">
                    <div class="flex justify-between items-center">
                        Attachment
                        <p-columnFilter type="text" field="attachment" display="menu" placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                 <th style="min-width: 12rem; padding-bottom: 0px;padding-top: 0px;">
                    <div class="flex justify-between items-center">
                        Remarks
                        <p-columnFilter type="text" field="remarks" display="menu" placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                
            </tr>
        </ng-template>
        <ng-template #body let-report let-rowIndex="rowIndex">
            <tr>
                <td pFrozenColumn style="text-align: center;">{{ rowIndex + 1 }}</td>
                <td pFrozenColumn>{{ report.issueId }}</td>
                <td class="ellipsis-cell">{{ report.projectCode }}</td>
                <td class="ellipsis-cell">{{ report.title }}</td>
                <td class="ellipsis-cell">{{ report.description }}</td>
                <td class="ellipsis-cell">{{ report.requester	 }}</td>
                <td class="ellipsis-cell">{{ report.assignTo }}</td>
                <td class="ellipsis-cell">{{ report.startDate }}</td>
                <td class="ellipsis-cell">{{ report.endDate }}</td>
                <td class="ellipsis-cell">{{ report.type }}</td>
                <td class="ellipsis-cell">{{ report.status }}</td>
                <td class="ellipsis-cell">{{ report.attachment }}</td>
                <td class="ellipsis-cell">{{ report.remarks }}</td>
            </tr>
        </ng-template>
    </p-table>

     <ng-template #emptymessage>
        <tr>
            <td colspan="8">No customers found.</td>
        </tr>
    </ng-template>
</div>
