/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

.Fix{
    color: #1EC9B0; font-size: 20px; font-weight: 700;
}
.Point{
    color: #E34C4C; font-size: 20px; font-weight: 700;
}